/*==================================================================================
                                    General Styles
==================================================================================*/

body {
    font-family: 'Tajawal', sans-serif;
    overflow-x: hidden;
    width: 100%;
    /* direction: rtl; */
}

.overflow {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #11191f;
    /* border-radius: 5px; */
    border: 1px solid #eee;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f3aa4d;
}

.rotate::after {
    content: "";
    transform: rotateX(180deg);
    transition: all 0.4s ease-in-out;
}


/*==================================================================================
                                    Bootstrap Styles
==================================================================================*/


/* .container {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
} */

html[dir=ltr] .list-unstyled {
    padding-left: auto;
    padding-right: 0;
}


/*==================================================================================
                                    Main Styles
==================================================================================*/


/***************************** Header Section Start ***************************/

.header {
    height: 190px;
    background-color: #11191f;
}

.header .page-rools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-top: 20px; */
}

html[dir=ltr] .header .page-rools {
    direction: ltr;
}

.welcome .welcome-content {
    color: #fff;
    font-family: "regular";
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 20px;
}

.welcome-content .welcome-tel {
    color: #f3aa4d;
    text-decoration: none;
}

.page-rools .page-lang-curr {
    display: flex;
    flex-direction: row;
}

html[dir=ltr] .page-rools .page-lang-curr {
    direction: ltr;
}

.page-lang-curr .currency,
.page-lang-curr .language {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
}

.page-lang-curr .currency {
    margin-left: 25px;
}

html[dir=ltr] .page-lang-curr .currency {
    margin-left: auto;
    margin-right: 25px;
}

.currency .currency-name,
.language .language-name {
    color: #62798b;
    font-family: "regular";
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 0;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: row;
}

html[dir=ltr] .currency .currency-name,
html[dir=ltr] .language .language-name {
    direction: ltr;
}

.currency .currency-name:hover,
.language .language-name:hover {
    color: #f3aa4d;
}

.currency .currency-name::after,
.language .language-name::after {
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-style: normal;
    text-decoration: inherit;
    margin-right: 10px;
}

html[dir=ltr] .currency .currency-name::after,
html[dir=ltr] .language .language-name::after {
    margin-right: auto;
    margin-left: 10px;
    margin-top: -3px;
}

.currency .currency-list,
.language .language-list {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translateX(50%);
    background-color: #fff;
    text-align: center;
    z-index: 99999;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.2), -3px -3px 5px rgba(255, 255, 255, 0.3);
    visibility: hidden;
    opacity: 0;
}

.currency:hover .currency-list,
.language:hover .language-list {
    visibility: visible;
    opacity: 1;
}

.currency .currency-list {
    width: 150px;
}

.language .language-list {
    width: 100px;
}

.currency .currency-list .currency-li,
.language .language-list .language-li {
    padding: 7px 0 10px 0;
    position: relative;
}

.currency .currency-list .currency-li:nth-child(1)::after,
.currency .currency-list .currency-li:nth-child(2)::after,
.currency .currency-list .currency-li:nth-child(3)::after,
.language .language-list .language-li:nth-child(1)::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    height: 1px;
    background-color: #eaeaea;
}

.currency-list .currency-link,
.language-list .language-link {
    color: #11191f;
    text-decoration: none;
    font-family: "medium";
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

.currency-list .currency-link:hover,
.language-list .language-link:hover {
    color: #f3aa4d;
}

.lang-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
    cursor: pointer;
    display: none;
    z-index: 9999;
    background-color: transparent;
}


/** Search Part **/

.menu-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 144px;
}

html[dir=ltr] .menu-search {
    direction: ltr;
}

.menu,
.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #28343e;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

html[dir=ltr] .menu,
html[dir=ltr] .search {
    direction: ltr;
    margin-left: auto;
    margin-right: 20px;
}

.menu .menu-icon,
.search .search-icon {
    color: #fff;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

.menu:hover .menu-icon,
.search:hover .search-icon {
    color: #f3aa4d;
}

.close-search-btn {
    display: none;
}

.search-box {
    width: 100%;
}

.search-box .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
}

html[dir=ltr] .search-box .search-bar {
    direction: ltr;
}

.search-bar .search-input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-right: 30px;
    border-radius: 35px;
    font-family: "regular";
    font-size: 16px;
}

html[dir=ltr] .search-bar .search-input {
    padding-right: auto;
    padding-left: 30px;
    direction: ltr;
}

.search-input::placeholder {
    font-family: "regular";
    font-size: 15px;
}

.search-bar .search-btn {
    position: absolute;
    top: 14px;
    left: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

html[dir=ltr] .search-bar .search-btn {
    left: auto;
    right: 10px;
}


/** Logo part **/

.logo {
    width: 100%;
    text-align: center;
}

.logo .logo-img {
    position: relative;
    top: -20px;
    max-width: 100%;
}


/** Terms part **/

.user-terms {
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

html[dir=ltr] .user-terms {
    direction: ltr;
}

.user-terms .config,
.user-terms .fav {
    position: relative;
    display: flex;
    margin-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    align-items: center;
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

html[dir=ltr] .user-terms .config,
html[dir=ltr] .user-terms .fav {
    direction: ltr;
    margin-right: 12px;
    margin-left: auto;
}

.user-terms .config:hover,
.user-terms .fav:hover {
    color: #f3aa4d;
}

.config .config-icon,
.fav .fav-icon {
    font-size: 18px;
    margin-left: 7px;
}

html[dir=ltr] .config .config-icon,
html[dir=ltr] .fav .fav-icon {
    margin-left: auto;
    margin-right: 7px;
}

.config .config-name,
.fav .fav-name {
    margin-bottom: 0;
    font-size: 15px;
    font-family: "medium";
}

.config .config-name {
    display: flex;
    flex-direction: row;
}

html[dir=ltr] .config .config-name {
    direction: ltr;
}

.config .config-name::after {
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-style: normal;
    text-decoration: inherit;
    margin-right: 5px;
}

html[dir=ltr] .config .config-name::after {
    margin-left: 5px;
    margin-right: auto;
    margin-top: -3px;
}

.user-terms .shop {
    position: relative;
    color: #fff;
    background-color: #28343e;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.shop .counter {
    position: absolute;
    top: -5px;
    right: -5px;
    font-family: "bold";
    font-size: 12px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #11191f;
    background-color: #f3aa4d;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

html[dir=ltr] .shop .counter {
    right: auto;
    left: -5px;
}

.user-terms .shop:hover {
    color: #f3aa4d;
}

.user-terms .shop:hover .counter {
    color: #fff;
}


/****** Start Of Config List ******/

.config .config-list {
    position: absolute;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    background-color: #fff;
    width: 120px;
    text-align: center;
    z-index: 99999;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #0000001c, -3px -3px 5px #0000001c;
    visibility: hidden;
    opacity: 0;
}

.config:hover .config-list {
    visibility: visible;
    opacity: 1;
}

.config-list .config-list-li {
    padding: 7px 0 10px 0;
    position: relative;
}

.config-list .config-list-li:nth-child(1)::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    height: 1px;
    background-color: #eaeaea;
}

.config-list-li .config-link {
    color: #11191f;
    text-decoration: none;
    font-family: "medium";
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

.config-list-li .config-link:hover {
    color: #f3aa4d;
}


/***************************** Nav Section Start ******************************/

.nav {
    padding: 10px 0;
    background-color: #f3aa4d;
    margin-bottom: 20px;
}

.nav .close,
.nav-list .nav-li:nth-child(1),
.nav-list .nav-li:nth-child(2),
.nav-list .nav-li:nth-child(4) {
    display: none;
}

.nav .nav-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

html[dir=ltr] .nav .nav-list {
    direction: ltr;
}

.nav-list .nav-li {
    margin-left: 13px;
}

html[dir=ltr] .nav-list .nav-li {
    margin-right: 13px;
    margin-left: auto;
}

.nav-li .nav-link {
    color: #11191f;
    text-decoration: none;
    font-family: "medium";
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

.nav-li .nav-link:hover {
    color: #d51515;
}


/***************************** Main Slider Section Start **********************/

.main-slider {
    margin-bottom: 30px;
}

.main-item {
    width: 100%;
}

.main-item .main-slider-img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.main-item:hover .main-slider-img {
    transform: scale(0.97);
}

.main-slider .owl-carousel .owl-nav .owl-prev,
.main-slider .owl-carousel .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    margin: 0px;
    border-radius: 50%;
    outline: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 52px;
    text-align: center;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}

.main-slider .owl-carousel .owl-nav .owl-prev:hover,
.main-slider .owl-carousel .owl-nav .owl-next:hover {
    background-color: #f3aa4d;
}

.main-slider .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.main-slider .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.main-slider .owl-carousel .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    transition: all 0.4s ease-in-out;
}

.main-slider .owl-carousel button.owl-dot {
    width: 15px;
    height: 5px;
    margin: 3px;
    outline: 0;
}

.main-slider .owl-carousel button.owl-dot span {
    background-color: #05273b;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all 0.4s ease-in-out;
}

.main-slider .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #f3aa4d;
}

.main-slider .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #f3aa4d;
}


/***************************** Slider1 Section Start **************************/

.cat-slider {
    margin-bottom: 90px;
}

.cat-slider .cat {
    width: 100%;
}

.cat .cat-img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.cat-slider .cat:hover .cat-img {
    transform: scale(0.97);
}

.cat-slider .owl-carousel .owl-nav .owl-prev,
.cat-slider .owl-carousel .owl-nav .owl-next {
    margin: 0px;
    border-radius: 50%;
    outline: 0px;
    border: none;
    background-color: transparent;
    color: #b8b8b8;
    text-align: center;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

.cat-slider .owl-carousel .owl-nav .owl-prev:hover,
.cat-slider .owl-carousel .owl-nav .owl-next:hover {
    color: #11191f;
}

.cat-slider .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
}

.cat-slider .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
}

.cat-slider .owl-carousel .owl-dots {
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    transition: all 0.4s ease-in-out;
}

.cat-slider .owl-carousel button.owl-dot {
    width: 15px;
    height: 5px;
    margin: 3px;
    outline: 0;
}

.cat-slider .owl-carousel button.owl-dot span {
    background-color: #05273b;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all 0.4s ease-in-out;
}

.cat-slider .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #f3aa4d;
}

.cat-slider .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #f3aa4d;
}


/***************************** Tabs Slider Section Start **********************/

.sub-slider {
    margin-bottom: 85px;
}

.mo-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

html[dir=ltr] .mo-tabs {
    direction: ltr;
    justify-content: center;
}

.mo-tabs .mo-tabs-li {
    margin-left: 40px;
}

html[dir=ltr] .mo-tabs .mo-tabs-li {
    margin-left: 0;
    margin-right: 40px;
}

.mo-tabs .mo-tabs-li:last-child {
    margin-left: 0;
}

html[dir=ltr] .mo-tabs .mo-tabs-li:last-child {
    margin-right: 0px;
}

.mo-tabs-li .mo-tabs-link {
    color: #11191f;
    opacity: 0.5;
    text-decoration: none;
    font-family: "medium";
    font-size: 30px;
    transition: all 0.4s ease-in-out;
}

html[dir=ltr] .mo-tabs-li .mo-tabs-link {
    text-transform: uppercase;
}

.mo-tabs-li .mo-tabs-link:hover {
    opacity: 1;
}

.mo-tabs-li.active .mo-tabs-link {
    opacity: 1;
}

.item .img-box {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-box .item-img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.img-box:hover .item-img {
    transform: scale(0.97) rotate(-3deg);
}

.item-content .item-name {
    display: flex;
    flex-direction: column;
    height: 65px;
    color: #11191f;
    text-decoration: none;
    font-family: "regular";
    font-size: 13px;
    transition: all 0.4s ease-in-out;
}

.item-name .name1,
.item-name .name2 {
    margin-bottom: 0;
}

.item-content .item-name:hover {
    color: #f3aa4d;
}

.item-content .price-box {
    display: flex;
    flex-direction: column;
    color: #11191f;
}

.price-box .first-price {
    font-family: "bold";
    font-size: 16px;
    margin-bottom: 5px;
}

.price-box .last-price {
    color: #808080;
    font-family: "regular";
    font-size: 14px;
    text-decoration: line-through;
}

.sub-slider .owl-carousel .owl-nav .owl-prev,
.sub-slider .owl-carousel .owl-nav .owl-next {
    margin: 0px;
    border-radius: 50%;
    outline: 0px;
    border: none;
    background-color: transparent;
    color: #b8b8b8;
    text-align: center;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

.sub-slider .owl-carousel .owl-nav .owl-prev:hover,
.sub-slider .owl-carousel .owl-nav .owl-next:hover {
    color: #11191f;
}

.sub-slider .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 37%;
    transform: translateY(-50%);
    right: -50px;
}

.sub-slider .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 37%;
    transform: translateY(-50%);
    left: -50px;
}

.sub-slider .owl-carousel .owl-dots {
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    transition: all 0.4s ease-in-out;
}

.sub-slider .owl-carousel button.owl-dot {
    width: 15px;
    height: 5px;
    margin: 3px;
    outline: 0;
}

.sub-slider .owl-carousel button.owl-dot span {
    background-color: #05273b;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all 0.4s ease-in-out;
}

.sub-slider .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #f3aa4d;
}

.sub-slider .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #f3aa4d;
}


/***************************** Gallary Section Start **************************/

.gallary {
    margin-bottom: 70px;
}

.gallary .gallary-content {
    width: 100%;
}

.gallary-content .gallary-img {
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.gallary-content .gallary-img:hover {
    transform: scale(0.97);
}


/***************************** Slider2 & 3 Section Start **********************/

.slider3 {
    margin-bottom: 75px;
}

.slider-title {
    margin-bottom: 35px;
    background-color: #11191f;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    color: #fff;
    font-family: "bold";
    font-size: 22px;
    position: relative;
}

html[dir=ltr] .slider-title {
    direction: ltr;
    padding-left: 30px;
    padding-right: 0;
    text-transform: uppercase;
}

.slider-title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 4px;
    height: 100%;
    background-color: #f3aa4d;
}

html[dir=ltr] .slider-title::before {
    right: auto;
    left: 0;
}

.slider-title .show-more {
    color: #fff;
    text-decoration: none;
    font-family: "regular";
    font-size: 16px;
    margin-left: 30px;
    transition: all 0.4s ease-in-out;
}

.slider-title .show-more:hover {
    color: #f3aa4d;
}

html[dir=ltr] .slider-title .show-more {
    margin-left: auto;
    margin-right: 30px;
}


/***************************** Clients Slider Section Start *******************/

.clients {
    margin-bottom: 50px;
}

.clients .slider-title {
    margin-bottom: 20px;
}

.client {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.client .client-img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.client::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #11191f;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}

.client:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.client:hover .client-img {
    transform: scale(1.03) translateY(-5px);
}

.clients .owl-carousel .owl-nav .owl-prev,
.clients .owl-carousel .owl-nav .owl-next {
    margin: 0px;
    border-radius: 50%;
    outline: 0px;
    border: none;
    background-color: transparent;
    color: #b8b8b8;
    text-align: center;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
}

.clients .owl-carousel .owl-nav .owl-prev:hover,
.clients .owl-carousel .owl-nav .owl-next:hover {
    color: #11191f;
}

.clients .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
}

.clients .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
}

.clients .owl-carousel .owl-dots {
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    transition: all 0.4s ease-in-out;
}

.clients .owl-carousel button.owl-dot {
    width: 15px;
    height: 5px;
    margin: 3px;
    outline: 0;
}

.clients .owl-carousel button.owl-dot span {
    background-color: #05273b;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all 0.4s ease-in-out;
}

.clients .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #f3aa4d;
}

.clients .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #f3aa4d;
}


/***************************** Features Section Start *************************/

.features {
    padding: 57px 0;
    background-color: #f3aa4d;
}

.features .feature {
    display: flex;
    flex-direction: row;
    align-items: center;
}

html[dir=ltr] .features .feature {
    direction: ltr;
}

.feature .feature-icon-box {
    margin-left: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html[dir=ltr] .feature .feature-icon-box {
    margin-left: 0px;
    margin-right: 27px;
}

.feature-icon-box .feature-icon {
    width: 85px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    background-color: #11191f;
    color: #f3aa4d;
    border-radius: 50%;
    font-size: 34px;
}

html[dir=ltr] .feature-content {
    text-align: left;
}

.feature-content .feature-title {
    font-family: "bold";
    font-size: 18px;
    margin-top: 0;
}

.feature-content .feature-disc {
    font-family: "regular";
    font-size: 15px;
}


/***************************** Footer Section Start ***************************/

.footer {
    background-color: #11191f;
    padding: 85px 0 50px 0;
}

.footer-top {
    margin-bottom: 30px;
}

.footer-top .one {
    width: 100%;
}

.one .footer-logo {
    width: 100%;
}

.footer-logo .footer-logo-img {
    max-width: 100%;
}

.footer-top .footer-col-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

html[dir=ltr] .footer-top .footer-col-box {
    direction: ltr;
}

html[dir=ltr] .footer-col {
    text-align: left;
}

.footer-col .footer-heading {
    margin-top: 0;
    margin-bottom: 25px;
    color: #fff;
    font-family: "bold";
    font-size: 17px;
}

html[dir=ltr] .footer-col .footer-heading {
    text-transform: uppercase;
}

.footer-heading .footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-col .info-list {
    margin-bottom: 0;
}

.info-list .info-list-li {
    margin-bottom: 10px;
}

.info-list-li .info-link {
    color: #62798b;
    text-decoration: none;
    font-family: "regular";
    font-size: 15px;
    transition: all 0.4s ease-in-out;
}

.info-list-li .info-link:hover {
    color: #f3aa4d;
}

.newsletter-box {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 20px;
}

html[dir=ltr] .newsletter-box {
    direction: ltr;
}

.newsletter-box .newsletter-input {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 35px;
    padding-right: 30px;
    font-family: "regular";
    font-size: 16px;
}

html[dir=ltr] .newsletter-box .newsletter-input {
    direction: ltr;
    padding-right: 0;
    padding-left: 30px;
}

.newsletter-input::placeholder {
    font-family: "regular";
    font-size: 14px;
}

.newsletter-box .subscribe {
    position: absolute;
    top: 14px;
    left: 15px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
}

html[dir=ltr] .newsletter-box .subscribe {
    left: auto;
    right: 15px;
    transform: rotateY(180deg);
}

.footer-icon-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

html[dir=ltr] .footer-icon-list {
    direction: ltr;
}

.footer-icon-list .footer-icon-li {
    margin-left: 5px;
}

html[dir=ltr] .footer-icon-list .footer-icon-li {
    margin-left: 0;
    margin-right: 5px;
}

.footer-icon-list .footer-icon-li:last-child {
    margin-left: 0;
}

html[dir=ltr] .footer-icon-list .footer-icon-li:last-child {
    margin-right: 0;
}

.footer-icon-li .footer-icon-link {
    color: #fff;
    background-color: #28343e;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
}

.footer-icon-li .footer-icon-link:hover {
    background-color: #f3aa4d;
    color: #11191f;
}

.footer-bottom .marouf {
    text-align: center;
    margin-bottom: 40px;
}

.footer-bottom .marouf .marouf-img {
    max-width: 100%;
}

.footer-bottom .payment {
    text-align: center;
    display: flex;
    direction: ltr;
    justify-content: center;
    margin-bottom: 50px;
}

.payment .first-payment .pay-img,
.payment .last-payment .pay-img {
    margin-right: 30px;
}


/* html[dir=ltr] .payment .first-payment .pay-img,
html[dir=ltr] .payment .last-payment .pay-img {
    margin-right: 0;
    margin-left: 30px;
} */

.payment .last-payment .pay-img:last-child {
    margin-right: 0;
}

html[dir=ltr] .payment .first-payment .pay-img:first-child {
    margin-left: 0;
}

html[dir=ltr] .payment .last-payment .pay-img:last-child {
    margin-right: 0;
}

.footer-bottom .payment .payment-img {
    max-width: 100%;
}

.footer-bottom .copyrights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #62798b;
    font-family: "regular";
    font-size: 14px;
}

html[dir=ltr] .footer-bottom .copyrights {
    direction: ltr;
}

.copyrights .last-p .tasawk {
    margin-right: 5px;
}

html[dir=ltr] .copyrights .last-p {
    direction: ltr;
}

html[dir=ltr] .copyrights .last-p .tasawk {
    margin-right: 0;
    margin-left: 5px;
}


/*==================================================================================
                                    Page Overlay
==================================================================================*/

.overlay-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-box2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay-box3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    z-index: 9999;
    background-color: transparent;
}


/*==================================================================================
                                    Page Overlay
==================================================================================*/

.loading-overlay {
    background: #11191f;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.loading-overlay img {
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*==================================================================================
                                Scroll To Top Button
==================================================================================*/

.scroll-top {
    position: fixed;
    bottom: 115px;
    right: 30px;
    background-color: #f3aa4d;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 17px;
    z-index: 9999;
    cursor: pointer;
    display: none;
    transition: all 0.4s ease-in-out;
}

.scroll-top:hover {
    background-color: #11191f;
    color: #f3aa4d;
    border: 1px solid #f3aa4d;
}